from openpyxl import Workbook
from openpyxl.styles import Font
from openpyxl.styles import PatternFill
import openpyxl
from datetime import datetime
import cv2 as cv
import matplotlib.pyplot as plt
import numpy as np
from flask import Flask, render_template, request
